body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    margin: 20px auto;
    border: 2px solid #333;
}

.white-piece {
    color: #1A1110;
    font-size: 2rem;
    font-weight: 500;
}

.black-piece {
    color: #1A1110;
    font-size: 2rem;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.dark {
    background-color: #4F86F7;
}

.light {
    background-color: #FEFEFA;
}

.selected {
    background-color: #a9a9a9;
}